[Unit]
Description = Akebi Keyless Server Service
Requires = network.target
Requires = akebi-keyless-server.socket

[Service]
Type = notify
Restart = on-failure
ExecStart = /home/ubuntu/Akebi/akebi-keyless-server
WorkingDirectory = /home/ubuntu/Akebi
User = root
NonBlocking = true

[Install]
WantedBy=multi-user.target
